{% extends "bootstrap.html" %}

{% block navbar %}
<nav class="container">
    <h1><strong>国家大学生文化素质教育基地</strong> <small>中国传媒大学站</small></h1>
    <form class="form-inline">
        <div class="form-group">
            <a class="btn btn-primary" href="/article_list/NOTICE">通知</a>
            <a class="btn btn-primary" href="/article_list/SHOW">展示</a>
            <a class="btn btn-primary" href="/article_list/EXP">经验</a>
            <a class="btn btn-primary" href="/article_list/LOG">日志</a>
            {% if current_user.is_authenticated %} <!-- 注意这里是属性而不是方法，天坑 -->
            <div class="btn-group">
                <a type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/new_article">新建文档</a></li>
                    <li><a href="/show_article_list">文档列表</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </div>
            {% else %}
            <a class="btn btn-danger" href="/login"></a>
            {% endif %}
            <form id='search' method="POST">
                <div class="input-group">
                    <input id="key_word" type="text" class="form-control" placeholder="Search">
                    <script>
                        // 通过script获取写入的参数 by飞哥
                        var key_word=document.getElementById('key_word').nodeValue
                    </script>
                    <span class="input-group-btn">
                        <a class="btn btn-default" type="submit" href="{{ url_for('views_blueprint.search', key_word=key_word) }}"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
            </form>
        </div>
    </form>
</nav>
<hr>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="page_left" class="col-sm-8">
            {% block page_left_head %}
            {% endblock %}
            <hr>
            {% block page_left_body %}
            {% endblock %}
            <hr>
            {% block page_left_footer %}
            {% endblock %}
        </div>
        <div id="page_right" class="col-sm-4">
            {% block page_right_head %}
                <span class="glyphicon glyphicon-pushpin"></span>
                <a href="/">NOTICE</a>
            {% endblock %}
            <hr>
            {% block page_right_body %}
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <a type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    <strong>NOTICE: </strong>{{ message }}
                </div>
                {% endfor %}
            {% endblock %}
            <hr>
            {% block page_right_footer %}
            <a class="label label-info" href="/article/website_info">网站说明</a>
            <a class="label label-info" href="/article/update_info">更新公告</a>
            <a class="label label-info" href="http://git.cucplus.com/fengyong/wenhua_cuc">GITLAB</a>
            {% endblock %}
        </div>
    </div>
<div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}