{% extends "base.html" %}

{% block page_left_head %}
<span class="glyphicon glyphicon-home"></span>
<a href="/">WEBSITE</a>
<span class="glyphicon glyphicon-chevron-right"></span>
<a href="javascript:void(0)" class="disable">ADMIN LOGIN</a>
{% endblock %}

{% block page_left_body %}
<h2>ADMIN LOGIN</h2>
<hr>
<form method='POST'>
    {{ form.hidden_tag() }} <!-- 此项与CSRF功能有关，不可省略 -->
    {{ form.account.label }}
    {{ form.account() }}
    {{ form.password.label }}
    {{ form.password() }}
    {{ form.remember_me() }}
    {{ form.remember_me.label }}
    {{ form.submit() }}
</form>
{% endblock %}