{%extends "base.html"%}

{%block page_left_head%}
<span class="glyphicon glyphicon-home"></span>
<a href="/">网站</a>
<span class="glyphicon glyphicon-chevron-right"></span>
<a href="javascript:void(0)" class="disable">管理员登录</a>
{%endblock%}

{%block page_left_body%}
<h2>管理员登录</h2>
<hr>
<form method="POST">
    {{ form.account.label }}
    {{ form.account() }}
    {{ form.password.label }}
    {{ form.password() }}
    {{ form.remember_me() }}
    {{ form.remember_me.label }}
    {{ form.submit() }}
</form>
{%endblock%}